.git
.env
.env.*
!.env.example
docker-compose.override.yml
mediawiki/cache/*
!mediawiki/cache/.htaccess
mediawiki/images/*
!mediawiki/images/.htaccess
mediawiki/LocalSettings.php
mediawiki/thumb/
mediawiki/tmp/
